.layout-banner-nav{
    width: 100%;
    min-width: 1200px;
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.04);
    position: relative;

    .banner-nav-list{
        height: 60px;
        border-bottom: 1px solid #E6E6E6;

        &-item{
            font-size: 14px;
            line-height: 60px;
            color: #333333;
            padding: 0 40px 0 0;
            display: block;
            float: left;

            &:hover{
                color: #0096FF;
            }
        }
    }

    .banner-nav-detail{
        height: 208px;
        position: absolute;
        width: 1200px;
        margin: 0 auto;
        top: 60px; 
        left: 0; 
        bottom: 0; 
        right: 0;
        z-index: 101;
        background-color: #FFFFFF;
        border-top: 1px solid #E6E6E6;

        &-a{
            float: left;
        }

        &-item{
            float: left;
            width: 239px;

            &-img{
                width: 100px;
                height: 100px;
                margin: 8px auto 0 auto;
                background-color: #FFFFFF;
                background-size: 100% 100%;
                display: block;
            }

            &-name{
                font-size: 14px;
                color: #333333;
                text-align: center;
                margin: 12px 0 0 0;
            }

            &-model{
                font-size: 12px;
                color: #666666;
                text-align: center;
                margin: 8px 0 0 0;
            }

            &-price{
                font-size: 14px;
                color: #0096FF;
                text-align: center;
                margin: 16px 0 0 0;
            }
        }

        &-hr{
            width: 1px;
            height: 104px;
            border: none;
            background-color: #D8D8D8;
            float: left;
            margin: 16px 0 0 0;
        }
    }

    .banner-nav-aside{
        position: absolute;
        top: 61px;
        left: 0; 
        bottom: 0; 
        right: 0;
        margin: 0 auto;
        z-index: 99;

        &-type{
            width: 200px;
            height: 500px;
            float: left;

            &-item{
                width: 200px;
                height: 50px;
                background-color: #FFC200;

                &:hover{
                    background-color: #333333;
                }

                &-word{
                    float: left;
                    font-size: 14px;
                    line-height: 50px;
                    color: #FFFFFF;
                    margin: 0 0 0 24px;
                }

                &-arrow{
                    float: right;
                    font-size: 14px;
                    line-height: 50px;
                    color: #FFFFFF;
                    margin: 0 16px 0 0;
                }
            }
        }

        &-detail{
            //visibility: hidden;
            width: 1000px;
            height: 500px;
            background-color: #FFFFFF;
            display: flex;
            flex-direction: row;
            align-items: left;
            float: left;

            &-list{
                width: 240px;
                height: 500px;
                display: inline-block;

                &-item{
                    margin: 0 0 0 32px;

                    &:nth-child(n+2){
                        margin-top: 14px;
                    }

                    &-title{
                        //height: 40px;
                        margin: 10px 0 0 0;

                        &-link{
                            font-size: 14px;
                            line-height: 40px;
                            color: #0096FF;
                        }
                    }

                    &-product{
                        //height: 40px;
                        margin: 12px 0 0 0;

                        &-link{
                            display: flex;
                            flex-direction: row;
                            align-items: left;
                        }

                        &-img{
                            width: 40px;
                            height: 40px;
                            display: inline-block;
                        }

                        &-name{
                            font-size: 14px;
                            line-height: 40px;
                            color: #333333;
                            display: inline-block;
                            margin: 0 0 0 16px;
                        }
                    }
                }
            }

            &-hr{
                width: 1px;
                height: 468px;
                border: none;
                background-color: #E6E6E6;
                display: inline-block;
            }
        }
    }
}