
@{
    ViewBag.Title = "OpenerAndFileReader";
}

<h2>OpenerAndFileReader</h2>

<p>打开新页面后，js的opener.document可获取子窗口文档属性</p>
<button type="button"  onclick="window.open('/home/index','test','width=400,height=450')">test</button>

<a href="https://blog.csdn.net/zk437092645/article/details/8745647">HTML5学习之FileReader接口</a>