
@{
    ViewBag.Title = "ShowImage";
}

<h2>根据链接生成二维码 与 webapi返回文件 与 在图片上写字</h2>

<div>
    <img src="/home/qrCode" />
</div>
<div>
    <img src="/home/webApiFile" alt="需继承apiController"/>
</div>
<div>
    <img src="/home/createImage" width="960" />
</div>